.contacts {
  min-height: 546px;
  padding: 120px 10px;
  box-sizing: border-box;
  width: 100%;

  @media (max-width: $tablet-width) {
    padding: 100px 10px;
    min-height: 535px;
  }

  @media (max-width: $mobile-width) {
    padding: 40px 15px 65px;
    min-height: 703px;
  }
}

.contacts__wrapper {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  box-sizing: border-box;
  max-width: 1160px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    max-width: 678px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column-reverse;
  }
}

.contacts__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;

  @media (max-width: $tablet-width) {
    margin: 0;
  }
}
