.form-container {

  @media (min-width: $desktop-width) {
    width: 403px;
  }

  @media (max-width: $tablet-width) {
    min-width: 403px;
    width: 53.8%;
  }

  @media (max-width: $mobile-width) {
    min-width: 290px;
    width: 90%;
  }
}

.form-container form {
  background-color: #011c40;
  color: #f9fbfd;
  min-height: 455px;
  padding: 25px 50px 50px;
  width: 100%;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    width: 100%;
    padding: 25px 45px 50px;
  }

  @media (max-width: $mobile-width) {
    padding: 17px 30px 40px 27px;
  }
}

.form-container fieldset {
  border: 0;
  padding: 0;
}

.form-container h3 {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  margin-bottom: 27px;

  @media (max-width: $tablet-width) {
    text-align: left;
  }

  @media (max-width: $mobile-width) {
    line-height: 25px;
    text-align: center;
  }
}

.form-container input {
  width: 303px;
  height: 43px;
  box-sizing: border-box;
  border: 0;

  @media (max-width: $tablet-width) {
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.form-container div {
  margin-bottom: 20px;
}

.form-container input {
  padding: 11px 16px;
}

.form-container label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 25px;

  padding-left: 10px;
  box-sizing: border-box;
  cursor: pointer;

  @media (max-width: $mobile-width) {
    margin-top: 1px;
    align-items: center;
    margin-bottom: 27px;
  }
}

.form-container label input {
  width: 1px;
  height: 1px;
  margin-right: 17px;
  align-self: flex-start;
  position: relative;
  padding: 0;
  cursor: pointer;
  margin-left: -5px;

  @media (max-width: $mobile-width) {
    margin-top: 5px;
    margin-bottom: 0;
    margin-right: 20px;
  }
}

.form-container label input::after {
  width: 18px;
  height: 18px;
  background-color: #f9fbfd;
  top: -5px;
  left: -5px;
  position: absolute;
  content: "";

  @media (max-width: $mobile-width) {
    top: -5px;
    left: -4px;
    width: 20px;
    height: 20px;
  }
}

.form-container label input:checked::after {
  width: 18px;
  background-color: #f9fbfd;
  height: 18px;
  background-image: url("../img/svg/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: -5px;
  left: -5px;
  position: absolute;
  content: "";

  @media (max-width: $mobile-width) {
    top: -5px;
    left: -4px;
    width: 20px;
    height: 20px;
  }
}

.form-container label input:hover::after,
.form-container label input:focus::after {
  background-color: #809bbe;
}

.form-container label span {
  font-size: 10px;
  line-height: 13px;
  margin-top: -2px;

  @media (max-width: $mobile-width) {
    text-align: left;
    line-height: 12px;
    margin-top: 0.5%;
  }
}

.form-container button {
  width: 100%;
  min-height: 43px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  padding: 10px;
  box-sizing: border-box;
  border: 0;
  cursor: pointer;
  margin-top: 10px;
  background-color: #f9fbfd;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  @media (max-width: $tablet-width) {
    margin-top: 12px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 0;
  }
}