.main-offer {
  background-image: url("../img/main-image/main-image-desktop.webp");
  background-size: cover;
  min-height: 657px;
  background-position: bottom;
  background-color: #011c40;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  align-items: center;
  border: 0;

  @media (min-width: $desktop-width) {

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-image/main-image-desktop-2x.webp");
      background-size: cover;
    }
  }

  @media (max-width: $tablet-width) {
    min-height: 638px;
    align-items: start;
    background-image: url("../img/main-image/main-image-tablet.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-image/main-image-tablet-2x.webp");
      background-size: cover;
    }
  }

  @media (max-width: $mobile-width) {
    min-height: 505px;
    background-image: url("../img/main-image/main-image-mobile.webp");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-image/main-image-mobile-2x.webp");
      background-size: cover;
    }
  }
}

.main-offer__wrapper {
  max-width: 1180px;
  padding: 0 25.5% 10px 10px;
  color: #f9fbfd;

  @media (max-width: $tablet-width) {
    width: 100%;
    padding-left: 0;
    padding-right: 10px;
    padding-bottom: 0;
    margin: 0 auto 10px;
    max-width: 678px;
  }

  @media (max-width: $mobile-width) {
    padding: 5px;
    width: 100%;
  }
}

.main-offer__header {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 54px;
  line-height: 66px;
  font-weight: 700;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @media (max-width: $tablet-width) {
    font-size: 50px;
    line-height: 61px;
  }

  @media (max-width: $mobile-width) {
    font-size: 36px;
    line-height: 45px;
  }
}

.main-offer__description {
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 22px;
  }

  @media (max-width: $mobile-width) {
    font-size: 16px;
    max-width: 200px;
  }
}
