.map {
  background-image: url("../img/map/map-desktop.webp");
  height: 306px;
  width: 48.3%;
  margin-right: 8.6%;
  background-size: cover;

  @media (min-width: $desktop-width) {

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map/map-desktop-2x.webp");
      background-size: cover;
    }
  }

  @media (max-width: $tablet-width) {
    margin-right: 30px;
    background-image: url("../img/map/map-tablet.webp");
    width: 47.8%;
    height: 335px;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map/map-tablet-2x.webp");
      background-size: cover;
    }
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/map/map-mobile.webp");
    margin-right: 0;
    width: 100%;
    height: 316px;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map/map-mobile-2x.webp");
      background-size: cover;
    }
  }
}

.map__iframe {
  width: 100%;
  height: 100%;
}
