.modal-container {
  position: fixed;
  top: 0;
  min-height: 100%;
  left: 0;
  width: 100%;
  display: flex;
  background-color: rgba(0, 43, 102, 0.5);
  z-index: 7;
  margin: 0;
  overflow-y: auto;
}

.modal-container--closed {
  display: none;
}

.modal-container--opened .modal-page__close-button {

  &::before,
  &::after {
    @media (max-width: $mobile-width) {
      content: "";
      position: absolute;
      top: 20px;
      right: 2px;
      width: 18px;
      height: 2px;
      background-color: #011c40;
    }
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}