.products-item {
  position: relative;
}

.products-item:hover .products-item__image,
.products-item:focus .products-item__image {
  visibility: hidden;
}

.products-item:hover .card-back,
.products-item:focus .card-back {
  visibility: visible;
}


.products-item__image {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  min-width: 100%;
  height: 100%;
}

.products-item:hover {
  background-color: #011C40;
}

.products-item__header {
  color: #F9FBFD;
  z-index: 2;
  position: absolute;
  bottom: 5px;
  left: 30px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;

  @media (max-width: $tablet-width) {
    left: 35px;
    bottom: 10px;
  }

  @media (max-width: $mobile-width) {
    left: 25px;
    bottom: 15px;
    margin-bottom: 0;
  }
}

.products-item:hover .products-item__header,
.products-item:focus .products-item__header {
  display: none;
}

.products-item {
  position: relative;
}